{{> navbar_user}}
<div class="title"><h2>Add your {{merch_Title}}</h2></div>
{{#if isProducts}}
    <form action="/company/profile/products" method="POST">
{{else}}
    <form action="/company/profile/services" method="POST">
{{/if}}  
    <input class="form-control form-control-lg" type="text" placeholder="Name" name="name" >
    <input class="form-control form-control-lg" type="text" placeholder="Description" name="description" >
    {{#if isProducts}}
    <p>
        <label for="localdate">From: </label>
        <input type="date" id="localdate" name="expir_date_from" >
    </p>
    <p>
        <label for="localdate">To: </label>
        <input type="date" id="localdate" name="expir_date_to" >
    </p>
    {{/if}}
    <button type="submit" class="btn btn-dark">Add</button>   
</form>
{{#if isProducts}}    
        {{#each merch_Array}}
            <form action="/company/profile/products/product{{id}}" method="POST">
                <div>
                    <p>{{name}}</p>
                    <p>{{description}}</p>
                        <p><time>{{expir_date_from}}</time></p>
                        <p><time>{{expir_date_to}}</time></p>
                    <p>{{image}}</p>
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {{/each}}
    {{else}}
        {{#each merch_Array}}
            <form action="/company/profile/services/service{{id}}" method="POST">
                <div>
                    <p>{{name}}</p>
                    <p>{{description}}</p>
                    <p>{{img}}</p>
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {{/each}}
{{/if}}