{{> navbar_user_company}}
<div class="title"><h2>Add your {{merch_Title}}</h2></div>
{{#if isProducts}}
    <form action="/company/profile/products" method="POST">
{{else}}
    <form action="/company/profile/services" method="POST">
{{/if}}  
    <input class="form-control form-control-lg" type="text" placeholder="Name" name="name" >
    <input class="form-control form-control-lg" type="text" placeholder="Description" name="description" >
    <input class="form-control form-control-lg" type="text" placeholder="Price(в рублях)" name="price" >
    <button type="submit" class="btn btn-dark">Add</button>   
</form>
{{#if isProducts}}    
        {{#each merch_Array}}
            <form action="/company/profile/products/product{{id}}" method="POST">
                <div>
                    <p>{{name}}</p>
                    <p>{{description}}</p>
                    <p>{{price}} ₽</p>
                    <p>{{image}}</p>
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {{/each}}
    {{else}}
        {{#each merch_Array}}
            <form action="/company/profile/services/service{{id}}" method="POST">
                <div>
                    <p>{{name}}</p>
                    <p>{{description}}</p>
                    <p>{{price}} ₽</p>
                    <p>{{img}}</p>
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        {{/each}}
{{/if}}