{{#if merch_Array.length}}
    <h1>Merch</h1>
    {{#each merch_Array}}
        
            <div>
            <p>Name - {{name}}</p>
            <p>Description - {{description}}</p>
            <p>Price - {{price}} ₽</p>
            <p>{{img}}</p>
            </div>
            </a>

    {{/each}}
    {{else}}
    <h1>No merch</h1>
{{/if}}