{{#if merch_Array.length}}
    <h1>Merch</h1>
    {{#each merch_Array}}
        
            <div>
            <p>{{name}}</p>
            <p>{{description}}</p>
            {{#if expir_date_from}}
              <p><time>{{expir_date_from}}</time></p>
              <p><time>{{expir_date_to}}</time></p>
            {{/if}}
            <p>{{img}}</p>
            </div>
            </a>

    {{/each}}
    {{else}}
    <h1>No merch</h1>
{{/if}}